Options +FollowSymLinks
RewriteEngine On

# Redirecionar para index.php se a URL corresponder a um arquivo ou pasta existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
